*{
    padding: 0;
    margin: 0;
}

.nav_principal{
    top: 0;
    padding-top: 35px;
    position: fixed;
    width: 100%;
    z-index: 2;
    margin-bottom: 20px;
    background-color: red;
    display: flex;
    align-items: center;
}
.nav_contenedor{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 3.75rem;
    padding-left: 3.75rem;
}
.nav{
    justify-content: flex-end;
}
ul{
    flex-direction: row;
}